.chart-stack-container {
    background: transparent;
    border-radius: 0.5em;
    margin: 0;
    overflow: hidden;
}

.chart-header {
    user-select: none;
    border-bottom: 1px solid rgba(200, 200, 200, 0.1);
    margin-bottom: 5px;
}

.bg-card-dark {
    background: #1f2937;
}

.shadow-lg {
    box-shadow: 0 0.2em 0.8em rgba(0, 0, 0, 0.2);
}

.chart-container {
    width: 100% !important;
    height: 100% !important;
    min-width: 0 !important;
    min-height: 0 !important;
    overflow: hidden;
    box-sizing: border-box;
}